<main class="main-wrapper">
  <div class="ribbon-wrapper">
    Get iPhone 15 Pro from ₹5621.00/mo.‡ for 24 months with No Cost EMI from
    most leading banks.
  </div>

  <section class="welcome-video-container">
    <div class="welcome-video-headline"></div>
    <video #myVideo>
      <source src="/hero.mp4" type="video/mp4" />
    </video>
  </section>

  <div class="welcome-lockup">
    <button class="buy-btn">Buy</button>
    <p class="welcome-lockup-text">
      <span>
        From ₹134900.00
      </span>
      <sup class="footnote footnote-number"
        >*
        </sup
      >
    </p>
  </div>
</main>
